<div class="row">
	<div class="span7 offset3">
		<h4>Latests posts by <%= @user.first_name %> <%= @user.last_name %></h4>
		<% @posts.each do |post| %>
			<div class="row">
				<h5><em><%= post.title %></em></h5>
				<!-- TODO: delete link is still broken -->
				<% if @user == current_user %>
					<%= link_to "Delete Post", user_post_path([@user, post]), :method => :delete %>
				<% end %>
			</div>
			<h6 class="row"><%= post.body %></h6>

			<!-- This is the comment displaying part -->
			<% if post.comments.any? %>
				<% post.comments.each do |comment| %>
					<p class="row"><%= link_to "#{comment.user.first_name} #{comment.user.last_name}", comment.user %> <%= comment.text %></p>
				<% end %>
			<% end %>

			<!-- This is the comment submitting part -->
			<div class="row">
				<%= form_for [current_user, post, post.comments.build] do |f| %>
					<div class="span4 form-inline">
					  <%= f.text_area :text, placeholder: "Write a comment...", :rows=>2 %>
					  <%= f.submit 'Submit', class: 'btn btn-primary btn-mini' %>
					</div>
				<% end %>
			</div>

		<% end %>
	</div>	
</div>