<div class="row">
	<div class="span7 offset3">
		<h4>Latests posts by <%= @user.first_name %> <%= @user.last_name %></h4>
		<% @posts.each do |post| %>
			<div class="row">
				<h5><em><%= post.title %></em></h5>
				<!-- TODO: delete link is still broken -->
				<% if @user == current_user %>
					<%= link_to "Delete Post", user_post_path([@user, post]), :method => :delete %>
				<% end %>
			</div>
			<h6 class="row"><%= post.body %></h6>

			<%= render 'shared/comments', :post => post %>

		<% end %>
		
		<%= paginate @posts %>

	</div>	
</div>