<%= form_for @user , :html => {:multipart => true} do |f| %>

  <% unless f.object.errors.empty? %>
      <% if @user.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <h3><%= pluralize(@user.errors.count, "error") %> prohibited this form from being saved:</h3>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  <% end %>
      
  <div class="span5">
    <%= f.text_field :first_name, placeholder: "First Name", class: "input-block-level" %>
    <%= f.text_field :last_name, placeholder: "Last Name", class: "input-block-level" %>
    <%= f.text_field :email, placeholder: "Email Address", class: "input-block-level" %>
    <%= f.text_area :teaser, placeholder: "Short Description", class: "input-block-level" %>
    <%= f.text_area :description, placeholder: "Describe yourself", class: "input-block-level" %>
    <label class="control-label" for="profile_picture">Upload your profile picture</label><%= f.file_field :profile_picture %>
    <%= f.submit 'Update Profile', class: 'btn btn-warning span2' %>
  </div>

<% end %>