<h1>Register for a new account</h1>
<p>Fill in your information below</p>

<hr/>

<%= form_for @user do |f| %>

  <% unless f.object.errors.empty? %>
      <% if @user.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <h3><%= pluralize(@user.errors.count, "error") %> prohibited this form from being saved:</h3>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  <% end %>
      
  <div class="span6">
    <%= f.text_field :first_name, placeholder: "First Name", class: "input-block-level" %>
    <%= f.text_field :last_name, placeholder: "Last Name", class: "input-block-level" %>
    <%= f.text_field :email, placeholder: "E-mail Address", class: "input-block-level" %>
    <%= f.password_field :password, placeholder: "Password", class: "input-block-level" %>
    <div class="form-actions">
      <%= f.submit 'Create Account', class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>