<div class="navbar navbar-inverse navbar-fixed-top">

	<!-- Left part of navbar -->
	<div class="navbar-inner">
   	<%= link_to "Lawyerly", root_path, :class => "brand" %>
   	<%= render '/shared/flashes' %>
    <ul class="nav">
    	<% if logged_in? %>
    		<!-- TODO active state needs to be fixed -->
    	  <li class="<%= "active" if controller_name == "#" %>"><%= link_to "My Profile", user_path(current_user) %></li> 
    	  <li class="<%= "active" if controller_name == "#" %>"><a href="#" class="dropdown-trigger-newpost" style="color:#E03307">New Post</a>
    	  </li>
    	  <li class="<%= "active" if controller_name == "#" %>"><a href="#" class="dropdown-trigger-notifications">Notifications</a>
    	  	<% if current_user.notifications.any? %>
    	  		<div id="notification-bubble"><%= current_user.notifications.count %></div>
    	  	<% end %>
    	  </li>
      <% end %>
    </ul>
  
  	<!-- Right part of navbar -->	
	  <div class="nav-right">
		  <% if logged_in? %>
		    <p><%= current_user.first_name %> <%= current_user.last_name %><%= link_to 'Sign out', :session, :method => :delete, :class => "sign-out" %></p>
		  <% end %>
		</div>
	</div>

		<!-- Dropdown for new post -->
		<div id="navdropdown-newpost">
			<%= form_for [current_user, Post.new] do |f| %>
				<%= render "shared/newpost", :f => f %>
			<% end %>
		</div>

		<!-- Dropdown for notifications -->
		<div id="navdropdown-notifications">
			<% if current_user.notifications.empty? %>
				<p>No new notifications</p>
			<% else %>
				<% current_user.notifications.each do |notification| %>
					<%= link_to(notification_path(notification), :method => :delete, :class => "notification") do %>
						<%= image_tag User.find(notification.follower_id).profile_picture_url(:small_thumb).to_s, :class => "profile_picture small_thumb_profile_picture" %>
						<p><span><%= User.find(notification.follower_id).first_name %> <%= User.find(notification.follower_id).last_name %></p>
						<p>is now following you</span></p>
						<% if current_user.notifications.count >= 2  %>
							<div class="divider"></div>
						<% end %>
					<% end %>		
				<% end %>
			<% end %>
		</div>

</div>