<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
   	<%= link_to "Lawyerly", root_path, :class => "brand" %>
   	<%= render '/shared/flashes' %>
    <ul class="nav">
    	<% if logged_in? %>
    	  <li class="<%= "active" if controller_name == "#" %>"><%= link_to "My Profile", user_path(current_user) %></li> <!-- TODO active state needs to be fixed -->
      <% end %>
    </ul>
  
	  <div class="nav-right">
		  <% if logged_in? %>
		    <p><%= current_user.first_name %> <%= current_user.last_name %><%= link_to 'Sign out', :session, :method => :delete, :class => "sign-out" %></p>
		  <% end %>
		</div>

	</div>
</div>

