<!DOCTYPE html>
<html>
<head>
  <title>Lawyerly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless controller_name == 'home' && !logged_in? %>
	<%= render "/layouts/nav" %>
<% end %>

<%= yield %>

</body>
</html>
