<!DOCTYPE html>
<html>
<head>
  <title>Lawyerly</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">

	<% unless controller_name == 'home' && !logged_in? %>
		<%= render "/layouts/nav" %>
	<% end %>

	<%= yield %>
	
	<div id='footer'>
		<%= render "/layouts/footer" %>
	</div>

</div>

</body>
</html>
